:root {
  /* Colours */
  --color-bg: light-dark(#f9e1cd, #7a5555); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#dbb4b4, #533737);

  /* Logotype */
  --color-logotype-bg: light-dark(#dbb4b4, #533737);
  --color-text-logotype: rgb(212, 28, 28);
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: light-dark(#dbb4b4, #533737);
  /* Links */
  --color-link-bg: white;
  --color-link-hover: rgb(222, 217, 217); /* used */
  --color-link-active: white; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#ffb46f, #a95909);
  --color-headline-text-page: white;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: black;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: rgb(222, 217, 217);
  --color-cta-card-bg: white;
  /* news-cards */
  --color-news-bg: rgb(222, 217, 217);
  --color-news-bg-inverted: rgb(222, 217, 217);
  --color-cta-newscard-bg: white;
  --color-cta-newscard-bg-inverted: --font-weight-regular;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: rgb(160, 115, 115);
  --color-infobox-1-bg: rgb(222, 217, 217);
  --color-infobox-2-bg: rgb(222, 217, 217);
}

html {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}
