:root {
  /* Colours */
  --color-bg: white; /* page background /*

  /* Header */
  --color-head-bg: red;

  /* Logotype */
  --color-logotype-bg: rgb(222, 217, 217);
  --color-text-logotype: rgb(218, 20, 20);
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: rgb(222, 217, 217);
  /* Links */
  --color-link-bg: white;
  --color-link-hover: #fff; /* used */
  --color-link-active: white; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: rgb(208, 23, 23);
  --color-headline-text-page: white;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: black;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: rgb(222, 217, 217);
  --color-cta-card-bg: white;
  /* news-cards */
  --color-news-bg: rgb(222, 217, 217);
  --color-news-bg-inverted: rgb(222, 217, 217);
  --color-cta-newscard-bg: white;
  --color-cta-newscard-bg-inverted: --font-weight-regular;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: rgb(102, 69, 69);
  --color-infobox-1-bg: rgb(222, 217, 217);
  --color-infobox-2-bg: rgb(222, 217, 217);
}
